*.egg-info/
data
logwrite
.DS_Store
.module_log
build/
*.tar.gz
.vscode/
__pycache__/
dropbox
dropbox/

*.pkl

*.ipynb_checkpoints/
gtrans/eval/*loss.txt
gtrans/eval/find*.sh
gtrans/eval/run*.sh
gtrans/data_process/run*.sh
gtrans/eval/*eval.sh
gtrans/training/*train.sh
